{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>متاسفانه چیزی پیدا نشد</title>
    <link rel="stylesheet" href="{% static 'ConfigurationChangeRequest/css/404.css' %}" />
</head>

<body>
    <section class="page_404">
        <div class="four_zero_four_bg">
            <h1>404</h1>
        </div>
        
        <div class="contant_box_404">
            <h3>به نظر می رسد که شما گم شده اید!</h3>
            <p>صفحه ای که به دنبال آن هستید وجود ندارد</p>
            <a href="../" class="link_404">بازگشت به صفحه اصلی</a>
        </div>
    </section>
</body>
</html>