<html dir="rtl" lang="fa-IR">
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="utf-8">
    <link rel="icon" href="static/ConfigurationChangeRequest/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/jquery-confirm.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/all.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/fontiran.css">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/font-style.css">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/persian-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/time-picker.css">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/scss/fontawesome.scss">
    <link rel="stylesheet" type="text/css" href="/static/ConfigurationChangeRequest/css/request.css">
    <!-- Extra CSS -->
    {% block extra_css %}{% endblock %}

    <title>
        {% if form_type == 'change_type'%}
            نوع تغییر
        {% else %}
            درخواست تغییرات
            {% if mode != 'READONLY' %}
                - {% if status_title %}{{ status_title }}{% else %}ثبت درخواست{% endif %}
            {% else %}
                (فقط خواندنی)
            {% endif %}
        {% endif %}

    </title>
<!-- Meta tags برای انتقال پیام‌های context به JavaScript -->
{% if message %}
    <meta name="context-message" content="{{ message }}">
    {% if success == False %}
        <meta name="context-success" content="false">
    {% else %}
        <meta name="context-success" content="true">
    {% endif %}
{% endif %}

{% if success_message %}
    <meta name="context-success-message" content="{{ success_message }}">
{% endif %}

{% if warning_message %}
    <meta name="context-warning-message" content="{{ warning_message }}">
{% endif %}    
</head>

<body>
    <form id="requestForm" method="POST" action="">
    <div class="header">

            {% csrf_token %}
            <input type="hidden" name="request_id" id="request_id" value="{{request.id}}"/>
            <input type="hidden" name="form_type" value="{{ form_type }}"/>

            <div class="col-2">
                <img src="{% static 'ConfigurationChangeRequest/images/EIT.png' %}" alt="فناوران اطلاعات خبره" title="فناوران اطلاعات خبره" class="logo">
            </div>
            <div class="title-text col-4">
                {% if form_type == 'change_type'%}
                    <div class="title">نوع تغییر</div>
                {% else %}                
                    <div class="title">درخواست تغییرات</div>
                    <div class="subtitle">
                        {% if mode != 'READONLY' %}
                        {% if status_title %}{{ status_title }}{% else %}ثبت درخواست{% endif %}
                        {% else %}
                            (فقط خواندنی)
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class='info col-2'>
                <p>
                    {% if form_type == 'change_type'%}
                        <b>شناسه نوع درخواست: </b>
                    {% else %}
                        <b>شماره درخواست: </b>
                    {% endif %}
                    <span>
                        {% if request.id %}
                            {{ request.id }}
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </p>
                <p>
                    {% if form_type == 'change_type'%}
                        <b>تاریخ ثبت نوع درخواست: </b>
                    {% else %}
                        <b>تاریخ ثبت درخواست: </b>
                    {% endif %}
                    <span>
                        {% if request.create_date %}
                            {{ request.create_date|to_jalali:"%Y/%m/%d" }}
                        {% else %}
                            {% now "Y-m-d" as today_gregorian %}
                            {{ today_gregorian|to_jalali:"%Y/%m/%d" }}
                        {% endif %}
                    </span>
                </p>
            </div>

    </div>
    
    <div class="container mt-4">
        {% block main_content%}
        {% endblock %}

        <!--form buttons -->
        <div class="row mt-4 form-button">
            <div class="col-12">
                {% comment %} mode = {{ mode }} {% endcomment %}
                <input type="hidden" name="action" value=""/>
                {%if not is_task %}
                    {% if form_type == 'change_type'%}
                        <button type="button" name="action" value="save" class="btn btn-primary" onclick="handleFormSubmit(event, 'start')" data-original-text="ذخیره">ذخیره</button>
                        <button type="button" class="btn btn-secondary" onclick="window.close()">بستن پنجره</button>
                    {% else %}
                        {% if mode == 'UPDATE' %}
                            <button type="button" name="action" value="approve" class="btn btn-success" onclick="handleFormSubmit(event, 'CON')" data-original-text="تایید">تایید</button>
                            <button type="button" name="action" value="reject" class="btn btn-danger ms-2" onclick="handleFormSubmit(event, 'REJ')" data-original-text="رد">رد</button>
                            <button type="button" name="action" value="return" class="btn btn-secondary ms-2" onclick="handleFormSubmit(event, 'RET')" data-original-text="بازگشت">بازگشت</button>
                        {% elif mode != 'READONLY' %}
                            <button type="button" name="action" value="start" class="btn btn-primary" onclick="handleFormSubmit(event, 'start')" data-original-text="شروع فرآیند">شروع فرآیند</button>
                            <button type="button" name="action" value="close" class="btn btn-secondary ms-2" onclick="window.close()" data-original-text="بازگشت">بازگشت</button>
                        {% else %}
                            <button type="button" class="btn btn-secondary" onclick="window.close()">بستن پنجره</button>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if status_code|slice:"-3:" == "RED" or status_code == "DEFINE" %}
                        {% if mode != "READONLY" %}
                                <button type="button" class="btn btn-primary" onclick="handleFormSubmit(event, 'CON')" data-original-text="انتخاب تسک">انتخاب تسک</button>
                        {% endif %}
                    {% elif status_code|slice:"-3:" == 'SEL'%}
                        <button type="button" class="btn  btn-success" onclick="handleFormSubmit(event, 'CON')" data-original-text="تایید">تایید</button>
                        {% if status_code == 'TESSEL' %}
                        <button type="button" class="btn btn-danger" onclick="handleFormSubmit(event, 'RET')" data-original-text="عدم تایید">عدم تایید</button>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-secondary mx-2" onclick="window.closeModal && window.closeModal();">بستن پنجره</button>

                {% endif %}
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-light text-center text-muted py-3 mt-5">
        <div class="container">
            <p>&copy; 2024 سیستم مدیریت درخواست تغییرات. تمامی حقوق محفوظ است.</p>
        </div>
    </footer>

</form>
</body>
<script src="/static/ConfigurationChangeRequest/js/jquery-3.6.0.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/jquery-confirm.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/select2.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/message-handler.js"></script>
<script src="/static/ConfigurationChangeRequest/js/bootstrap.bundle.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/persian-date.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/persian-datepicker.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/timepicker-index.umd.min.js"></script>
<script src="/static/ConfigurationChangeRequest/js/request.js"></script>

<!-- Custom JavaScript -->
{% block extra_js %}{% endblock %}

    

</html>