{% extends 'ConfigurationChangeRequest/base-other-form.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}لیست انواع درخواست{% endblock %}

{% block extra_css %}
<link href="{% static 'ConfigurationChangeRequest/css/changetype-list.css' %}" rel="stylesheet">
{% endblock %}
{% block header_title%}
لیست انواع تغییرات
{%endblock%}
{% block page_title%}
لیست انواع تغییرات
{%endblock%}
{% block main_content %}


        <div class="table-wrapper" role="region" aria-label="جدول نوع تغییرات">
            <table class="data-table" role="table" id="change-type-list">
                <thead class="table-head">
                    <tr role="row">
                        <th scope="col" class="col-id">شناسه</th>
                        <th scope="col" class="col-code">کد</th>
                        <th scope="col" class="col-type">نوع تغییر</th>
                        <th scope="col" class="col-title">عنوان تغییر</th>
                        <th scope="col" class="col-actions">عملیات</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for item in change_type_list %}
                    <tr role="row" class="table-row {% cycle '' 'row-alt' %}" data-id={{ item.id }}>
                        <td class="col-id" role="cell" data-label="کد">{{ item.id }}</td>
                        <td class="col-code" role="cell" data-label="کد">{{ item.code }}</td>
                        <td class="col-type" role="cell" data-label="نوع تغییر">{{ item.change_type_title }}</td>
                        <td class="col-title" role="cell" data-label="عنوان تغییر">{{ item.change_title }}</td>
                        <td class="col-actions" role="cell" data-label="عملیات">
                            <a class="btn btn-edit" href="{{ baseurl }}/ConfigurationChangeRequest/change-type/{{ item.id }}" title="ویرایش" aria-label="ویرایش {{ item.change_type_title }}">
                                <i class="fa-solid fa-pen"></i>
                                <span class="sr-only">ویرایش</span>
                            </a>
                            <a class="btn btn-delete" data-id={{ item.id }} title="حذف" aria-label="حذف {{ item.change_type_title }}" 
                            data-title="{{ item.change_type_title }}" >
                                <i class="fa-solid fa-trash"></i>
                                <span class="sr-only">حذف</span>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="empty" colspan="4">رکوردی یافت نشد.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="actions-footer">
            <a class="btn btn-add" href="{{ baseurl }}/ConfigurationChangeRequest/change-type/">
                <i class="fa-solid fa-plus"></i>
                <span>افزودن نوع تغییر</span>
            </a>
        </div>
    </main>
    
{% endblock %}
{% block extra_js %}
    <script src="{% static 'ConfigurationChangeRequest/js/change-type-list.js' %}"></script>
{% endblock %}
    