{% extends 'ConfigurationChangeRequest/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}فرم درخواست ساده{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ConfigurationChangeRequest/css/request-simple.css' %}" />
{% endblock %}

{% block main_content %}
<div class="container mt-4">
    <div class="user-info">
        <div class="user-avatar" >
            
            {%if mode != 'READONLY'%}
                <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ current_user.username|split:'@' }}.jpg" 
                alt="{{ current_user.fullname }}" title="{{ current_user.fullname }}" class="personnel-avatar">
            {% else %}
                <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ request.requestor_nationalcode.username|split:'@' }}.jpg" 
                alt="{{ request.requestor_nationalcode.fullname }}" title="{{ request.requestor_nationalcode.fullname }}" class="personnel-avatar">
            {%endif%}
        </div>
        <div class="user-information" >
            <input type="hidden" name="requestor_user_nationalcode" 
            {%if mode != 'READONLY'%}
            value="{{request.requestor_nationalcode.national_code}}"
            {% else %}
            value="{{request.requestor_nationalcode.national_code}}"
            {%endif%}
            />
            <div class="field-row">
                <label>درخواست دهنده:</label>
                {%if mode != 'READONLY'%}
                    <span>{{current_user.fullname}}</span>
                {% else %}
                    <span>{{request.requestor_nationalcode.fullname}}</span>
                {%endif%}
            </div>
            <div class="field-row">
                <label>سمت درخواست دهنده:</label>

                {%if mode != 'READONLY'%}
                    {% if current_user.team_roles|length == 1 %}
                        <span class='single-role'>{{ current_user.team_roles.0.role_title }} {{current_user.team_roles.0.team_name}}</span>
                        <input type="hidden" name="requestor_user_team_role" value="{{ current_user.team_roles.0.team_code }}-{{ current_user.team_roles.0.role_id }}"/>
                    {% elif current_user.team_roles|length > 1 %}
                        <select class='role-select' name="requestor_user_team_role"  id="user_team_role" required>
                            {% for team_role in current_user.team_roles %}
                                <option value="{{ team_role.team_code }}-{{ team_role.role_id }}">{{ team_role.role_title }} {{team_role.0.team_name}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <span class='no-role'>کاربر فاقد سمت است</span>
                    {% endif %}
                {% else %}
                    <span>{{request.requestor_role_id.role_title}} تیم {{request.requestor_team_code.team_name}}</span>
                {%endif%}

            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-6">
            <div class="form-group">
                <label for="change_type">نوع تغییر *</label>
                {% if mode == 'READONLY' %}
                    <div class="form-control-plaintext">{{ request.change_type.change_type_title|default:'' }}</div>
                {% else %}
                    <select class="form-control" id="change_type" name="change_type" required>
                        <option value="">انتخاب کنید</option>
                        {% for ct in change_type %}
                        <option value="{{ ct.id }}" {% if request.change_type.id == ct.id %}selected{% endif %}
                        data-title="{{ct.change_title}}"
                        data-description="{{ct.change_description}}"
                        >
                            {{ ct.change_type_title }}
                        </option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
       

        <div class="col-md-6">
            <div class="form-group">
                <label for="change_title">عنوان درخواست *</label>
                {% if mode == 'READONLY' %}
                    <div class="form-control-plaintext">{{ request.change_title|default:'' }}</div>
                {% else %}
                    <input type="text" class="form-control" id="change_title" name="change_title" 
                            value="{{ request.change_title|default:'' }}" required>
                {% endif %}
            </div>
        </div>
        
    </div>
    
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="form-group">
                <label for="change_description">توضیحات درخواست *</label>
                {% if mode == 'READONLY' %}
                    <div class="form-control-plaintext" style="min-height: 100px; white-space: pre-wrap;">{{ request.change_description|default:'' }}</div>
                {% else %}
                    <textarea class="form-control" id="change_description" name="change_description" rows="4" required>{{ request.change_description|default:'' }}</textarea>
                {% endif %}
            </div>
        </div>
    </div>
    
    

{% endblock %}

{% block extra_js %}
<script src="{% static 'ConfigurationChangeRequest/js/request-simple.js' %}"></script>
{% endblock %} 