{% extends 'ConfigurationChangeRequest/base.html' %}
{% load static %} 
{% load custom_filters %}
{% block main_content %}
    <div class="readonly container">
        <div class='panel-row'>
            <div class='col-2 fieldBox change-info'>
                <div class="title">اطلاعات تغییر</div>
                <hr/>
                <div class="content change-info">
                    <div class="content-row">
                        <label>عنوان تغییر:</label><br/>
                        <span>{{ request.change_title }}</span>
                    </div>
                    <div class="content-row">
                        <label>نوع تغییر:</label><br/>
                        <span>{{ request.change_type.change_type_title }} </span>
                    </div>
                    <div class="content-row">
                        <label>شرح تغییر:</label><br/>
                        <span>{{ request.change_description }}</span>
                    </div>
                </div>
            </div>
            <div class='col-10 fieldBox user-list'>
                <div class="requestor user-info previous_step">
                    <div class="title">اطلاعات درخواست دهنده</div>
                    <hr/>
                    <div class="content">
                        <div class="user-avatar">
                            <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ request.requestor_nationalcode.username|split:'@' }}.jpg" 
                            alt="{{ request.requestor_nationalcode.fullname }}" title="{{ request.requestor_nationalcode.fullname }}" class="personnel-avatar">
                        </div>
                        <div class="user-information">
                            <span>{{ request.requestor_nationalcode.fullname }}</span>
                            {% if request.requestor_role_id %}
                                <span class='single-role'>{{ request.requestor_role_id.role_title }}
                                {% if request.requestor_team_code %} 
                                    (تیم {{ request.requestor_team_code.team_name }})</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-2 manager user-info
                {% if request.status_code != 'MANAGE'%}
                    previous_step
                {% endif%}
                ">
                    <div class="title">اطلاعات مدیر </div>
                    <hr/>
                    <div class="content">
                        <div class="user-avatar">
                            <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ request.manager_nationalcode.username|split:'@' }}.jpg" 
                            alt="{{ request.manager_nationalcode.fullname }}" title="{{ request.manager_nationalcode.fullname }}" class="personnel-avatar">
                        </div>
                        <div class="user-information">
                            <span>{{ request.manager_nationalcode.fullname }}</span>
                            {% if request.manager_role_id %}
                                <span class='single-role'>{{ request.manager_role_id.role_title }}
                                {% if request.manager_team_code %} 
                                    (تیم {{ request.manager_team_code.team_name }})</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if request.need_committee %}
                <div class="col-2 committee user-info
                {% if request.status_code != 'COMITE'%}
                    {% if request.status_code == 'MANAGE' %}
                    next_step
                    {% else %}
                    previous_step
                    {% endif %}
                {% endif%}
                ">
                    <div class="title">اطلاعات کمیته</div>
                    <hr/>
                    <div class="content">
                        <div class="user-avatar">
                            <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ request.committee_user_nationalcode.username|split:'@' }}.jpg" 
                            alt="{{ request.committee_user_nationalcode.fullname }}" title="{{ request.committee_user_nationalcode.fullname }}" class="personnel-avatar">
                        </div>
                        <div class="user-information">
                            <span>{{ request.committee_user_nationalcode.fullname }}</span>
                            {% if request.committee_role_id %}
                                <span class='single-role'>{{ request.committee_role_id.role_title }}
                                {% if request.committee_team_code %} 
                                    (تیم {{ request.committee_team_code.team_name }})</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-2 executor user-info
                {% if request.status_code != 'EXECUT'%}
                    {% if request.status_code == 'TESTER' %}
                    previous_step
                    {% else %}
                    next_step
                    {% endif %}
                {% endif%}
                ">
                    <div class="title">اطلاعات مجری</div>
                    <hr/>
                    <div class="content">
                        <div class="user-avatar">
                            <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ request.executor_nationalcode.username|split:'@' }}.jpg" 
                            alt="{{ request.executor_nationalcode.fullname }}" title="{{ request.executor_nationalcode.fullname }}" class="personnel-avatar">
                        </div>
                        <div class="user-information">
                            <span>{{ request.executor_nationalcode.fullname }}</span>
                            {% if request.executor_role_id %}
                                <span class='single-role'>{{ request.executor_role_id.role_title }}
                                {% if request.executor_team_code %} 
                                    (تیم {{ request.executor_team_code.team_name }})</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if request.test_required %}
                <div class="col-2 tester user-info
                {% if request.status_code != 'TESTER'%}
                    next_step
                {% endif%}
                ">
                    <div class="title">اطلاعات تستر</div>
                    <hr/>
                    <div class="content">
                        <div class="user-avatar">
                            <img src="{% static 'ConfigurationChangeRequest/images/personnel/' %}{{ request.tester_nationalcode.username|split:'@' }}.jpg" 
                            alt="{{ request.tester_nationalcode.fullname }}" title="{{ request.tester_nationalcode.fullname }}" class="personnel-avatar">
                        </div>
                        <div class="user-information">
                            <span>{{ request.tester_nationalcode.fullname }}</span>
                            {% if request.tester_role_id %}
                                <span class='single-role'>{{ request.tester_role_id.role_title }}
                                {% if request.tester_team_code %} 
                                    (تیم {{ request.tester_team_code.team_name }})</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
        <div class='panel-row'>
            <div class='col-5 fieldBox'>
                <div class="title">ویژگی های تغییر</div>
                <hr/>
                <div class="content">
                    <div class="content-row col-12">
                        <div class="col-3 radio-label">طبقه بندی تغییر:</div>
                        <div class="radio-list col-3">
                            {% if request.classification %}
                                <div class='radio-box active'>
                                    <div class='radio-info'>
                                        <div class='radio-image'>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:request.classification.Code%}.png" 
                                            title="{{ request.classification.Caption }}" alt="{{ request.classification.Caption }}">
                                        </div>
                                        <div class='radio-caption'>
                                            {{ request.classification.Caption }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <span>نامشخص</span>
                            {% endif %}
                        </div>
                        <div class="col-3 radio-label">گستردگی تغییرات:</div>
                        <div class="radio-list col-3">
                            {% if request.change_level %}
                                <div class='radio-box active'>
                                    <div class='radio-info'>
                                        <div class='radio-image'>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:request.change_level.Code%}.png" 
                                            title="{{ request.change_level.Caption }}" alt="{{ request.change_level.Caption }}">
                                        </div>
                                        <div class='radio-caption'>
                                            {{ request.change_level.Caption }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <span>نامشخص</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="content-row col-12">
                        <div class="col-3 radio-label">اولویت تغییر:</div>
                        <div class="radio-list col-3">
                            {% if request.priority %}
                                <div class='radio-box active'>
                                    <div class='radio-info'>
                                        <div class='radio-image'>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:request.priority.Code%}.png" 
                                            title="{{ request.priority.Caption }}" alt="{{ request.priority.Caption }}">
                                        </div>
                                        <div class='radio-caption'>
                                            {{ request.priority.Caption }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <span>نامشخص</span>
                            {% endif %}
                        </div>
                        <div class="col-3 radio-label">سطح ریسک تغییر:</div>
                        <div class="radio-list col-3">
                            {% if request.risk_level %}
                                <div class='radio-box active'>
                                    <div class='radio-info'>
                                        <div class='radio-image'>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:request.risk_level.Code%}.png" 
                                            title="{{ request.risk_level.Caption }}" alt="{{ request.risk_level.Caption }}">
                                        </div>
                                        <div class='radio-caption'>
                                            {{ request.risk_level.Caption }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <span>نامشخص</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-7 fieldBox change-info'>
                <div class="title">محل تغییر</div>
                <hr/>
                <div>
                    <div class="content-row col-12 row">
                        <div class="check-list-detail col-8 data-center-list">
                            <label class="form-check-label">مرکز داده:</label>
                            {% for info in extra_info %}
                                {% if info.extra_info.Code|startswith:'DataCenter_' %}
                                    <div class='active'>
                                        <div>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:info.extra_info.Code%}.png" 
                                            title="{{ info.extra_info.Caption }}" alt="{{ info.extra_info.Caption }}">
                                        </div>
                                        <div class='check-list-caption'>            
                                            {{ info.extra_info.Caption }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="check-list-detail col-4 database-list">
                            <label class="form-check-label" >پایگاه داده:</label>
                            {% for info in extra_info %}
                                {% if info.extra_info.Code|startswith:'Database_' %}
                                    <div class='check-list-box active'>
                                        <div>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:info.extra_info.Code%}.png" 
                                            title="{{ info.extra_info.Caption }}" alt="{{ info.extra_info.Caption }}">
                                        </div>
                                        <div class='check-list-caption'>            
                                            {{ info.extra_info.Caption }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="content-row col-12 row">
                        <div class="check-list-detail col-8 system-service-list">
                            <label class="form-check-label" >سیستم ها:</label>
                            {% for info in extra_info %}
                                {% if info.extra_info.Code|startswith:'SystemsServices_' %}
                                    <div class='active'>
                                        <div>
                                            <img src="{% static 'ConfigurationChangeRequest/images/icon/'|add:info.extra_info.Code%}.png" 
                                            title="{{ info.extra_info.Caption }}" alt="{{ info.extra_info.Caption }}">
                                        </div>
                                        <div class='check-list-caption'>            
                                            {{ info.extra_info.Caption }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-4">
                            {% if request.change_location_other_description %}
                                <label class="form-check-label">سایر:</label>
                                <span>{{ request.change_location_other_description }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='panel-row col-12'>
            <div class='fieldBox col-10'>
                <div class="title">دامنه تغییرات</div>
                <hr/>
                <div class="content col-12">
                    <div class="content-row col-12 icons team-icons" >
                        <span>تیم ها:</span>
                        {% for team in request_teams %}
                            <img src="{% static 'ConfigurationChangeRequest/images/icon/team/'|add:team.team_code.team_code%}.png" 
                            alt="{{ team.team_code.team_name }}" data-code="{{team.team_code.team_code}}" title="{{ team.team_code.team_name }}" class="active icon team"/>
                        {% endfor %}
                    </div>
                    <br/>
                    <div class="content-row col-12 icons corp-icons" >
                        <span>شرکت ها:</span>
                        {% for corp in request_corps %}
                            <img src="{% static 'ConfigurationChangeRequest/images/icon/corp/'|add:corp.corp_code.corp_code%}.png" 
                            alt="{{ corp.corp_code.corp_name }}" data-code="{{ corp.corp_code.corp_code }}" title="{{ corp.corp_code.corp_name }}" class="active icon corp"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class='col-2 fieldBox'>
                <div class="title">حوزه اثرگذاری</div>
                <hr/>
                <div class="content">
                    {% if request.stop_critical_service %}
                    <div class="title-text">
                        قطعی سرویس های حیاتی : {{ request.critical_service_title }}
                    </div>
                    {% endif %}
                    {% if request.stop_sensitive_service %}
                    <div class="title-text">
                        قطعی سرویس های حساس : {{ request.stop_service_title }}
                    </div>
                    {% endif %}
                    {% if request.not_stop_any_service %}
                    <div class="title-text">
                        عدم قطعی سرویس ها
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class='panel-row'>                
            <div class='col-4 fieldBox'>
                <div class="title">زمانبندی تغییرات</div>
                <hr/>
                <div class="content scheduling-table">
                    <div>
                        <span class="title-text">
                            زمان درخواست تغییرات:
                        </span>
                        <span class="subtitle-text" >
                            تاریخ: {{ request.changing_date }}
                        </span>
                        <span class="subtitle-text">
                            زمان: {{ request.change_time }}
                        </span>
                    </div>
                    <div class='duration'>
                        <span class="title-text">
                            مدت زمان لازم برای تغییرات:
                        </span>
                        <span class="subtitle-text">
                            {{ request.duration_hour }}:{{ request.duration_minute }}
                        </span>
                    </div>
                    <div class='downtime'>
                        <span class="title-text">
                            میزان تخمینی قطعی سیستم:
                        </span>
                        <span class="subtitle-text">
                            ساعت
                            {{ request.estimate_downtime_hour }}:{{ request.estimate_downtime_minute }}
                        </span>
                    </div>
                    <div class='downtime-worstcase'>
                        <span class="title-text">
                            بدترین میزان قطعی سیستم:
                        </span>
                        <span class="subtitle-text">
                            {{ request.downtime_duration_worstcase_hour }}:{{ request.downtime_duration_worstcase_minute }}
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-3 fieldBox'>
                <div class="title">الزام به تغییر</div>
                <hr/>
                <div class="content">
                    {% if request.reason_regulatory %}
                        <span class="reason">رگولاتوری</span>
                    {% endif %}
                    {% if request.reason_technical %}
                        <span class="reason">فنی</span>
                    {% endif %}
                    {% if request.reason_security %}
                        <span class="reason">امنیتی</span>
                    {% endif %}
                    {% if request.reason_business %}
                        <span class="reason">توسعه کسب و کار</span>
                    {% endif %}
                    {% if request.reason_other %}
                        <span class="reason">{{ request.reason_other_description }}</span>
                    {% endif %}
                </div>
            </div>
            <div class='col-4 fieldBox'>
                <div class="title">بازگشت تغییرات</div>
                <hr/>
                <div class="content">
                    <div class='rollback'>
                    امکان بازگشت به عقب وجود
                    {% if not request.has_role_back_plan %}
                    <span class='has-rollback-plan'>ندارد</span>
                    </div>
                    {% else %}
                    <span class='has-rollback-plan'>دارد</span>
                    </div>
                    <span class='rollback-plan-title'>طرح بازگشت</span>
                    <br/>
                    <p class='rollback-plan'>{{ role_back_plan_description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% block other_step%}
    {% endblock %}    
{% endblock %}